@model SM_Conta.Models.PlanCuenta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>PlanCuenta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_plan_cta)


    <div class="form-group">
        @Html.LabelFor(model => model.Cuenta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cuenta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cuenta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Analisis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Analisis)
                @Html.ValidationMessageFor(model => model.Analisis, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Capital, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Capital)
                @Html.ValidationMessageFor(model => model.Capital, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cons_Banc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Cons_Banc)
                @Html.ValidationMessageFor(model => model.Cons_Banc, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.T_analisi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.T_analisi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.T_analisi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Est_Resu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Est_Resu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Est_Resu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Es_Pago, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Es_Pago)
                @Html.ValidationMessageFor(model => model.Es_Pago, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="card well shadow">
            <div class="card-body">
                <div class="form-group">
                    <h5 class="card-title">Capital Propio</h5>
                    @Html.LabelFor(model => model.CapPropio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.CapPropio)
                            @Html.ValidationMessageFor(model => model.CapPropio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.LabelFor(model => model.ActFijo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ActFijo)
                            @Html.ValidationMessageFor(model => model.ActFijo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.LabelFor(model => model.Cp_ActNorm, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Cp_ActNorm)
                            @Html.ValidationMessageFor(model => model.Cp_ActNorm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.LabelFor(model => model.Cp_Into, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Cp_Into)
                            @Html.ValidationMessageFor(model => model.Cp_Into, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.LabelFor(model => model.Cp_Complem, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Cp_Complem)
                            @Html.ValidationMessageFor(model => model.Cp_Complem, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.LabelFor(model => model.Cp_PasExig, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Cp_PasExig)
                            @Html.ValidationMessageFor(model => model.Cp_PasExig, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
