@model IEnumerable<SM_Conta.Models.PlanCuenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (ViewBag.MuestraBtnCrear = true)
    {
        @Html.ActionLink(" Agregar ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-plus hidden-print" })
    }
    @Html.ActionLink(" Exporta ", "Export", new { }, new { @class = "btn btn-success glyphicon glyphicon-export hidden-print" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (@ViewBag.muestraBtnEditar != false)
                {
                    @Html.ActionLink(" ", "Edit", new { id = item.Id_plan_cta }, new { @class = "btn btn-info glyphicon glyphicon-pencil hidden-print" })
                }
                @Html.DisplayFor(modelItem => item.Cuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                
                @if (@ViewBag.muestraBtnBorrar != false)
                {
                    @Html.ActionLink(" ", "Delete", new { id = item.Id_plan_cta }, new { @class = "btn btn-danger glyphicon glyphicon-trash hidden-print" })
                }

            </td>
        </tr>
    }

</table>
