@model IEnumerable<SM_Conta.Models.Tasa_PPm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p12)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p12)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
