@model SM_Conta.Models.Tasa_Utm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasa_Utm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes05)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes06)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes06)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes07)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes07)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes12)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
